.twcss-container {
  width: 100%;
}

@media (min-width: 320px) {
  .twcss-container {
    max-width: 320px;
  }
}

@media (min-width: 750px) {
  .twcss-container {
    max-width: 750px;
  }
}

@media (min-width: 990px) {
  .twcss-container {
    max-width: 990px;
  }
}

@media (min-width: 1440px) {
  .twcss-container {
    max-width: 1440px;
  }
}

@media (min-width: 1920px) {
  .twcss-container {
    max-width: 1920px;
  }
}

.twcss-absolute {
  position: absolute;
}

.twcss-relative {
  position: relative;
}

.twcss-left-0 {
  left: 0px;
}

.twcss-top-0 {
  top: 0px;
}

.twcss-right-0 {
  right: 0px;
}

.twcss-top-46\% {
  top: 46%;
}

.twcss-left-5 {
  left: 1.25rem;
}

.twcss-right-5 {
  right: 1.25rem;
}

.twcss-left-1\/2 {
  left: 50%;
}

.twcss-bottom-\[-43px\] {
  bottom: -43px;
}

.twcss-top-1\/2 {
  top: 50%;
}

.twcss-z-10 {
  z-index: 10;
}

.twcss-z-20 {
  z-index: 20;
}

.twcss-m-0 {
  margin: 0px;
}

.twcss-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.twcss-mb-4 {
  margin-bottom: 1rem;
}

.twcss-mb-14 {
  margin-bottom: 3.5rem;
}

.twcss-mb-\[55px\] {
  margin-bottom: 55px;
}

.twcss-block {
  display: block;
}

.twcss-flex {
  display: flex;
}

.twcss-hidden {
  display: none;
}

.twcss-h-20 {
  height: 5rem;
}

.twcss-h-full {
  height: 100%;
}

.twcss-h-2\.5 {
  height: 0.625rem;
}

.twcss-h-2 {
  height: 0.5rem;
}

.twcss-min-h-\[126px\] {
  min-height: 126px;
}

.twcss-w-full {
  width: 100%;
}

.twcss-w-20 {
  width: 5rem;
}

.twcss-w-screen {
  width: 100vw;
}

.twcss-w-\[84px\] {
  width: 84px;
}

.twcss-w-2 {
  width: 0.5rem;
}

.twcss-min-w-\[126px\] {
  min-width: 126px;
}

.twcss-max-w-full {
  max-width: 100%;
}

.twcss-max-w-screen-xlg {
  max-width: 1440px;
}

.twcss-max-w-\[280px\] {
  max-width: 280px;
}

.twcss-flex-grow {
  flex-grow: 1;
}

.twcss-grow-0 {
  flex-grow: 0;
}

.twcss-basis-full {
  flex-basis: 100%;
}

.twcss-basis-\[30\%\] {
  flex-basis: 30%;
}

.twcss-basis-1\/5 {
  flex-basis: 20%;
}

.twcss-basis-4\/5 {
  flex-basis: 80%;
}

.-twcss-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-twcss-translate-y-1\/2 {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.twcss-cursor-pointer {
  cursor: pointer;
}

.twcss-snap-x {
  -ms-scroll-snap-type: x var(--tw-scroll-snap-strictness);
  scroll-snap-type: x var(--tw-scroll-snap-strictness);
}

.twcss-snap-mandatory {
  --tw-scroll-snap-strictness: mandatory;
}

.twcss-scroll-pl-6 {
  scroll-padding-left: 1.5rem;
}

.twcss-flex-col {
  flex-direction: column;
}

.twcss-flex-wrap {
  flex-wrap: wrap;
}

.twcss-items-center {
  align-items: center;
}

.twcss-justify-center {
  justify-content: center;
}

.twcss-justify-around {
  justify-content: space-around;
}

.twcss-overflow-x-auto {
  overflow-x: auto;
}

.twcss-scroll-smooth {
  scroll-behavior: smooth;
}

.twcss-rounded-full {
  border-radius: 9999px;
}

.twcss-border {
  border-width: 1px;
}

.twcss-border-2 {
  border-width: 2px;
}

.twcss-border-\[3px\] {
  border-width: 3px;
}

.twcss-border-t-2 {
  border-top-width: 2px;
}

.twcss-border-carouselgrey {
  border-color: #e1e1e1 !important;
}

.twcss-object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}

.twcss-px-\[20px\] {
  padding-left: 20px;
  padding-right: 20px;
}

.twcss-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.twcss-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.twcss-px-\[18px\] {
  padding-left: 18px;
  padding-right: 18px;
}

.twcss-py-\[60px\] {
  padding-top: 60px;
  padding-bottom: 60px;
}

.twcss-px-\[90px\] {
  padding-left: 90px;
  padding-right: 90px;
}

.twcss-pb-\[60\%\] {
  padding-bottom: 60%;
}

.twcss-pt-3 {
  padding-top: 0.75rem;
}

.twcss-pb-\[40px\] {
  padding-bottom: 40px;
}

.twcss-pt-\[30px\] {
  padding-top: 30px;
}

.twcss-pt-\[25px\] {
  padding-top: 25px;
}

.twcss-pb-\[20px\] {
  padding-bottom: 20px;
}

.twcss-pt-\[10px\] {
  padding-top: 10px;
}

.twcss-pb-\[30px\] {
  padding-bottom: 30px;
}

.twcss-pt-\[15px\] {
  padding-top: 15px;
}

.twcss-pb-\[254px\] {
  padding-bottom: 254px;
}

.twcss-text-center {
  text-align: center;
}

.twcss-text-right {
  text-align: right;
}

.twcss-text-\[70px\] {
  font-size: 70px;
}

.twcss-text-\[65px\] {
  font-size: 65px;
}

.twcss-font-bold {
  font-weight: 700;
}

.twcss-leading-none {
  line-height: 1;
}

.twcss-underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.twcss-opacity-0 {
  opacity: 0;
}

.twcss-opacity-40 {
  opacity: 0.4;
}

.twcss-scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.twcss-scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.twcss-hover-active:not([disabled]):hover {
  border: 1px solid rgb(52, 52, 52) !important;
}

.hover\:twcss-border-carouseldark:hover {
  border-color: #343434 !important;
}

.hover\:twcss-underline:hover {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

.twcss-group:hover .group-hover\:twcss-underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}

@media (min-width: 320px) {
  .sm\:twcss-justify-between {
    justify-content: space-between;
  }
}

@media (min-width: 750px) {
  .md\:twcss-mb-0 {
    margin-bottom: 0px;
  }

  .md\:twcss-mr-\[39px\] {
    margin-right: 39px;
  }

  .md\:twcss-max-w-none {
    max-width: none;
  }

  .md\:twcss-basis-\[30\%\] {
    flex-basis: 30%;
  }

  .md\:twcss-justify-center {
    justify-content: center;
  }

  .md\:twcss-px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:twcss-px-\[52px\] {
    padding-left: 52px;
    padding-right: 52px;
  }

  .md\:twcss-px-\[10\%\] {
    padding-left: 10%;
    padding-right: 10%;
  }

  .md\:twcss-pt-\[85px\] {
    padding-top: 85px;
  }

  .md\:twcss-text-\[75px\] {
    font-size: 75px;
  }
}
